<main>
    <header class = "movie-name">
        <a [routerLink]="['/']" class="logo-link">
        <img class="movie-logo" src="../assets/logo.svg" alt="logo" aria-hidden="true">
        <p class="heading">MOVIES</p>
        </a>
    </header>
    <div class="bg">

        <section class = "content">
            <router-outlet></router-outlet>
        </section>
    

    </div>
   
    <footer class="footer">
        <p class="foottext">Disclaimer: I do not own the images on this project and they are a property of their respective copyright holders.</p>
    </footer>

</main>