:host {
    --content-padding: 10px 0px 10px 15px;
  }
  header {
    background-color: var(--primary-color);
    display: block;
    height: auto;
    padding: var(--content-padding);
    box-shadow: 0px 5px 10px var(--shadow-color);
  }
  .content {
    padding: var(--content-padding);
  }
  
  
  .logo-link{
    text-decoration: none;
  }
  
  img{
  
    margin-left: 22px;
    width: 100%;
    max-width:  50px;
    height: auto;
  }
  
  .heading{
    font-size: x-large;
    color: #ffffff;
  }
  
  .foottext{
    font-size: smaller;
    color: #bbbbbb;
    text-align: center;
    padding-top: 5px;
  }
  
  footer{
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    display: block;
    height: 25px;
    width: 100%;
  }
  